.input-select-wrapper input {
    height:100%;
    border-radius: 4px 0 0 4px;
    border: 1px solid transparent;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.select-wrap:focus,
input:focus-visible {
    border: 1px solid blue;
    outline: none
}

.input-select-wrapper {
    height: 30px;
}

.input-select-wrapper .select-wrap {
    height:112%;
    border-radius: 0 4px 4px 0;
    border: 1px solid transparent;
}